<section>
    <div class="container">
      <div class="row mt-4">
        <h1 class="text-center">All Orders</h1>
      </div>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Method Of Payment</th>
      <th scope="col">Status</th>
     
    </tr>
  </thead>
  <tbody>
      {{#each items}}
    <tr>
      <td>{{this.Date}}</td>
      <td>{{this.SHIPPING.username}}</td>
      <td>{{this.SHIPPING.email}}</td>
       <td>{{this.SHIPPING.mobile}}</td>
      <td>{{this.SHIPPING.address}}</td>
      <td>{{this.totalprice}}</td>
       <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>
      
    <td><a href="/admin/view-order-products/{{this._id}}" style="height:auto" class="btn btn-success">View Product</a></td>
    
    </tr>
  
    {{/each}}   
  </tbody>
</table>
    </div>
    
</section>